body{
    margin: 1px 1px 1px 1px;
    font-family: Helvetica, sans-serif;
    background-color: rgb(185, 245, 245);
    
}
h1{
    font-weight: normal;
    border-bottom: 1px solid blue;
    padding:0 0 10px 0;
}
h2{
    font-weight:normal;
    margin:  30px 0 0 0;
}
.content{
    float:left;
    width:60%;
    padding: 0 0 0 30px;
    border: 2px solid black;
}
#sidebar{
    float: left;
    width:30%;
    padding: 10px;
    background:orange;
    height:100%;
}
.date{
    color:rgb(255,0,247);
    font-family: Georgia, serif;
    font-size: 12px;
    font-style:italic;
}
